@import "../node_modules/bootstrap/scss/bootstrap";

.btn-orange {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{$orange};
  --bs-btn-border-color: #{$orange};
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($orange, 10%)};
  --bs-btn-hover-border-color: #{shade-color($orange, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($orange, 20%)};
  --bs-btn-active-border-color: #{shade-color($orange, 20%)};
}


